/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Roboto:wght@300;700&display=swap');

/* GLOBAL STYLES */

:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto", serif;
  --font-code: "Roboto", monospace;
  --bg-color: #ffffff;
  --bg-color-transparent: #f3f3f380;
  --font-color: #ffffff;
  --btn-bg-color: #55f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  /* height: 100vh; */
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  /* max-width: 960px; */
  margin: 0 auto;
  padding: 1rem 2rem;
  justify-content: center;
  overflow: hidden;
}

/* HEADER */

header {
  background-color: var(--bg-color);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  /* position: fixed; */
}

.menu img {
  height: 16px;
  width: 16px;
}

.body-container {
  background-image: url(../images/backgrounds/Background.png);
  height: 30rem;
  padding: 2rem 2rem;
  background-size: 300px 100px;
}

/* NOT CONNECTED */
.not-connected {
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto 0 auto;
  transition: all 0.5s ease-in-out;
}

.show-not-connected {
  opacity: 1;
  transform: translateY(0);
}



.not-connected h1 {
  font-style: bold;
  margin: 2rem 0;
  font-size: 2rem;
}

.not-connected p {
  font-size: 1rem;
  font-family: var(--font-primary);
  line-height: 1.8;
}

.meet-the-team-div {
  padding: 2rem 2rem;
}

.meet-the-team-section {
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto 0 auto;
  transition: all 0.5s ease-in-out;
  padding: 2rem 2rem;
  color: black;
}

.meet-the-team-logo {
  margin: 1rem 1rem;
  padding: 2rem 2rem;
}


.meet-the-team-logo img {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.copyright-div {
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto 0 auto;
  transition: all 0.5s ease-in-out;
  padding: 1rem 1rem;
  background-color: black;
  color: white;
}

/* .not-connected a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: bold;
} */

/* BUTTONS */
 
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(--btn-bg-color);
  color: var(--font-color);
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 0.5rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}
.btn:disabled {
  cursor: default;
}


.wallet-btn {
  border-radius: 0.25rem;
  margin-left: 1rem;
  border-color: transparent;
}

.hero-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 0.5rem;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  border-color: transparent;
  border-radius: 0.25rem;
  color: #fff;
}

/* CARD */

.card {
  position: relative;
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 3px solid black;
  /* box-shadow: var(--card-shadow); */
  padding: 2rem;
  margin-bottom: 2rem;
  opacity: 0;
  /* transform: translateX(100vw); */
  transition: all 0.5s ease-in-out;
  color: #000;
}

.show-card {
  opacity: 1;
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

#countdown {
  display: none;
  text-align: center;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown ul {
  display: flex;
  gap: 2rem;
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: bold;
  margin: 1rem 0;
  font-size: 2rem;
  text-align: center;
}

.countdown h2 {
  margin-top: 1rem;
}

.countdown > p {
  font-size: 1rem;
  font-family: var(--font-primary);
  margin-bottom: 2rem;
  text-align: center;
}

/* MINT CONTAINER */

.mint-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 0.75rem;
}

.info-container p {
  padding: 0.5rem;
}

.mint-container h3 {
  font-size: 1rem;
}

.mint-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--accent-color);
  border-radius: 5px;
}

.mint-qty > span {
  display: flex;
}

.mint-btn {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: auto;
  color: #fff;
  border-radius: 0.25rem;
  border-color: transparent;
  font-size: 1rem;
}

.input-number {
  height: 100%;
  padding: 1rem;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  user-select: none;
  border-radius: 0.25rem;
  margin: 2px;
  border-color: transparent;
  font-size: 0.5rem;
  padding: 0.75rem;
}

#setQtyMax {
  border-radius: 0.25rem;
  border-color: transparent;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0 2rem;
}

.total-price-container p {
  color: var(--accent-color);
  font-weight: bold;
}

/* MINTED CONTAINER */

.minted-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.minted-container h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.minted-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.minted-container p {
  margin: 1rem 0;
} */

/* SPINNER */
.dot-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
}

/* UTILITIES */

.hidden {
  display: none;
}
